/*
  before changing, notes on jank:
    + height of portfolio content is set manualy
    + first time using flexboxes - may be messy
*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 0px;
  background-color: #333333;
  color: #d4d4d4;
  overflow: hide; }

body {
  margin: 0px; }

p {
  line-height: 140%;
  font-size: 16px; }

button {
  font-size: 16px;
  background-color: transparent;
  font-family: inherit; }

button:focus {
  outline: 0px; }

a {
  font-size: 16px;
  color: #c68b73;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

header {
  justify-content: center;
  padding: 16px;
  text-align: center;
  background-color: #242424; }
  header h1 {
    display: inline-block;
    font-size: 64px;
    text-align: center;
    margin: 0px 0px 12px 0px; }
    @media (max-width: 799px) {
      header h1 span {
        display: none; } }
    @media (min-width: 800px) {
      header h1 {
        margin-right: 0.3em; }
        header h1 br {
          display: none; } }
  header img {
    max-width: 208px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: bottom;
    margin: 4px 0px; }

#biography {
  margin: 48px auto 48px auto;
  max-width: 600px;
  padding: 0px 16px 0px 16px; }
  #biography p {
    font-size: 16px;
    color: #dbdbdb; }

.edge-grabber {
  display: flex;
  align-items: stretch;
  margin: 0px; }
  .edge-grabber .left-reach, .edge-grabber .right-reach {
    flex: 1 0; }
  .edge-grabber .left-reach {
    background-color: #242424; }
  .edge-grabber .right-reach {
    background-color: #1e1e1e; }
  .edge-grabber section {
    flex: 0 1 900px;
    display: flex;
    align-items: stretch;
    flex-direction: row; }
    .edge-grabber section nav {
      flex: 0 0 auto;
      background-color: #242424; }
      .edge-grabber section nav div, .edge-grabber section nav button {
        width: 100%;
        text-align: left;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        padding: 16px 24px;
        margin: 0px;
        color: #d4d4d4;
        display: block; }
      .edge-grabber section nav .selected, .edge-grabber section nav *:hover {
        background-color: #1e1e1e; }
    .edge-grabber section .project {
      flex: 0 1 100%;
      background-color: #1e1e1e; }
      .edge-grabber section .project div {
        padding: 0px 24px; }
        .edge-grabber section .project div .thumbnail {
          width: 30%;
          float: right;
          margin: 4px 0px 16px 24px;
          display: block;
          font-size: 0px; }
          .edge-grabber section .project div .thumbnail img {
            width: 100%; }
        .edge-grabber section .project div p {
          margin: 16px 0px;
          font-size: 16px; }
        .edge-grabber section .project div a {
          word-wrap: break-word; }
        .edge-grabber section .project div span {
          font-size: 16px; }
        .edge-grabber section .project div ul {
          font-size: 16px;
          margin-top: 0.7em;
          list-style-type: none;
          padding-left: 24px; }
      .edge-grabber section .project > div:not(.selected) {
        display: none; }
  @media (max-width: 700px) {
    .edge-grabber section {
      flex-direction: column;
      width: 100%; }
      .edge-grabber section nav {
        transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        /* IE 9 */
        -webkit-transform: rotateX(180deg);
        /* Safari and Chrome */
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        overflow: auto; }
        .edge-grabber section nav button {
          transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          /* IE 9 */
          -webkit-transform: rotateX(180deg);
          /* Safari and Chrome */
          width: auto;
          text-align: center;
          flex: 1 auto; }
      .edge-grabber section .project {
        flex: 1 0 500px; } }

#contact {
  max-width: 600px;
  margin: 48px auto 48px auto;
  padding: 0px 16px 0px 16px;
  font-size: 16px; }
  #contact > div {
    margin: 16px 0px 16px 0px; }
    #contact > div > * {
      vertical-align: bottom; }
    #contact > div .icon {
      height: 16px; }

/*# sourceMappingURL=index.css.map */