body {
  background-color: rgb(160, 160, 160);
  font-size: 0px;
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 460px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  background-color: rgb(32, 32, 32);
  padding: 0px 25px 0px 25px;
  color: rgb(192, 192, 192);
}
.title, .title2 {
  font-size: 24px;
  color: inherit;
  display: inline-block;
}
#mode {
  font-size: inherit;
}
.title {
  margin: 15px;
  text-decoration: none;
}
.title:hover {
  color: rgb(128, 128, 128);
}
.settings-container {
  display: inline-block;
  margin: 10px 10px 5px 10px;
  font-size: 16px
}
.setting-controls {
  height: 68px;
}
.setting-controls > button {
  font-size: 32px;
  vertical-align: 19%;
}
#quick-fix {
  vertical-align: baseline;
  height: 54px;
  display: inline-block;
}
#session-length, #break-length {
  width: 75px;
  font-size: 56px;
  display: inline-block;
}
hr {
  border-width: 3px;
  display: block;
}
button {
  border-style: none;
  background-color: inherit;
  color: #B27200;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
button:hover{
  color: #8A5800;
  cursor: pointer;
}
#clock-container {
  margin: 10px;
}
#clock {
  font-size: 128px;
}
