@font-face {
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto"; }

@font-face {
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: bold; }

@font-face {
  src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-family: "RobotoCondensed";
  font-weight: bold; }

body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  background-color: white; }

.container {
  margin: auto;
  max-width: 600px; }
