/*
  before changing, notes on jank:
    + height of portfolio content is set manualy
    + first time using flexboxes - may be messy
*/
@font-face {
  src: url("fonts/anonymous-pro.ttf") format("truetype");
  font-family: "anonymous-pro"; }

$responsive-break: 800px;
$font-base: 16px;

$grey-dark: rgb(30, 30, 30);
$grey-medium: rgb(37, 37, 37);
$grey-light: rgb(51, 51, 51);

$white-light: rgb(212, 212, 212);
$white-medium: rgb(204, 204, 204);
$white-dark: rgb(176, 176, 176);

$buffer-std: $font-base * 1.5;
$buffer-small: $font-base;
$buffer-huge: $font-base * 3;

//-----------default style------------
html {
  font-family: "anonymous-pro";
  font-size: 0px;
  background-color: $grey-light;
  color: $white-light;
}
body { margin: 0px; }
p {
  line-height: 140%;
  font-size: $font-base;
}
button {
  font-size: $font-base;
  background-color: transparent;
  font-family: inherit;
}
button:focus {outline: 0px;}
a {
  font-size: $font-base;
  color: rgb(198, 139, 115);
  text-decoration: none;
}
a:hover { text-decoration: underline; }
//-------------end default style---------------
header {
  justify-content: center;
  padding: $buffer-small;
  text-align: center;
  background-color: $grey-medium;
  h1 {
    display: inline-block;
    font-size: 4 * $font-base;
    text-align: center;
    margin: 0px 0px $buffer-small 0px;
    @media (max-width: 799px) {span {display:none} }
    @media (min-width: 800px) {
      br {display:none}
      margin-right: 0.3em;
    }
  }
  img {
    max-width: $font-base * 15;
    display: inline-block;
    border-radius: 50%;
    vertical-align: bottom;
    margin: 4px 0px;
  }
}
#biography {
    margin: $buffer-huge auto $buffer-huge auto;
    max-width: 600px;
    padding: 0px $buffer-small 0px $buffer-small;
}
.edge-grabber {
  display: flex;
  align-items: stretch;
  margin: 0px;
  .left-reach, .right-reach {flex: 1 0; }
  .left-reach {
    background-color: $grey-medium;
  }
  .right-reach {
    background-color: $grey-dark;
  }
  section { //portfolio
    max-width: 900px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    nav {
      flex: 0 0 auto;
      background-color: $grey-medium;
      div, button { //buttons
        width: 100%;
        text-align: left;
        border: none;
        white-space: nowrap;
        cursor: pointer;
        padding: $buffer-small $buffer-std;
        margin: 0px;
        color: $white-medium;
        display: block;
      }
      .selected, *:hover,  { background-color: $grey-dark; }
    }
    .project {
      height: 500px;
      flex: 1 0 0px;
      background-color: $grey-dark;
      div {
        .thumbnail {
          width: 30%;
          float: right;
          margin: 4px 0px $buffer-small $buffer-std;
          display: block;
          font-size: 0px;
          img {
            width: 100%;
          }
        }
        padding: 0px $buffer-std;
        p { margin: $buffer-small 0px; }
        a { word-wrap: break-word; }
        span {font-size: $font-base; }
        ul {
          font-size: $font-base;
          margin-top: 0.7em;
        }
      }
      >div:not(.selected){
        display: none;
      }
    }
  }
  @media (max-width: 700px) {
    section {
      flex-direction: column;
      width: 100%;
      nav {

        transform:rotateX(180deg);
        -ms-transform:rotateX(180deg); /* IE 9 */
        -webkit-transform:rotateX(180deg); /* Safari and Chrome */
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        overflow: auto;
        button {
          transform:rotateX(180deg);
          -ms-transform:rotateX(180deg); /* IE 9 */
          -webkit-transform:rotateX(180deg); /* Safari and Chrome */
          width: auto;
          text-align: center;
          flex: 1 auto;
        }
      }
      .project {
        flex: 1 0 500px;
      }
    }
  }
}

#contact {
  max-width: 600px;
  margin: $buffer-huge auto $buffer-huge auto;
  padding: 0px $buffer-small 0px $buffer-small;
  //text-align: center;
  font-size: $font-base;
  >div {
    margin: $buffer-small 0px $buffer-small 0px;
    >*{ vertical-align: bottom; }
    .icon { height: $font-base; }
  }
}